/* Bundled MesloLGS Nerd Font Mono for Powerline glyph support */

@font-face {
  font-family: "MesloLGS Nerd Font Mono";
  src: url("/fonts/MesloLGSNerdFontMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MesloLGS Nerd Font Mono";
  src: url("/fonts/MesloLGSNerdFontMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
