.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app__main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* Activity Bar positions - base flex is already row (left is default) */
.app__main--ab-right {
  flex-direction: row;
}

.app__main--ab-hidden {
  flex-direction: row;
}

.app__main--ab-top {
  flex-direction: row;
}
